name: CI

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      # Update version numbers
      - name: Set current version number in memorista.php
        uses: jacobtomlinson/gha-find-replace@0.1.4
        with:
          include: 'src/memorista.php'
          find: '1.0.0'
          replace: '1.5.6'
      - name: Set current version number in .wordpress-org/readme.txt
        uses: jacobtomlinson/gha-find-replace@0.1.4
        with:
          include: '.wordpress-org/readme.txt'
          find: '1.0.0'
          replace: '1.5.6'
      - name: Build plugin
        run: npm ci

      # Deploy to WordPress plugin directory
      - name: Prepare src directory for WordPress deployment
        run: mv .wordpress-org/readme.txt src/readme.txt
      - name: Deploy to WordPress plugin directory
        uses: nk-o/action-wordpress-plugin-deploy@v0.0.5
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SOURCE_DIR: src/
          ASSETS_DIR: .wordpress-org/assets
          SLUG: memorista
          VERSION: 1.5.6
      - name: Clean up src directory after WordPress deployment
        run: mv src/readme.txt .wordpress-org/readme.txt
